@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

body {
   background-color: #f5f5f5;
}

/* Part 1.1 */
div.practice_part_one {
   font-family: "Roboto", sans-serif;
   background-color: #f5f5f5;
}

.about {
   background: #ffffff url(../img/background.png);
   max-width: 1020px;
   margin: 50px auto 400px 184px;
}

.logo {
   font-size: 12px;
   font-weight: 700;
   max-width: 450px;
   font-style: normal;
   line-height: 24px;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #4b4b4b;
   margin-left: 113px;
   padding-top: 100px;
   padding-bottom: 30px;
}

.general {
   margin-left: 113px;
   margin-bottom: 50px;
}

.general h2 {
   font-size: 36px;
   font-weight: 900;
   font-style: normal;
   line-height: 42px;
   max-width: 583px;
   margin-bottom: 31px;
   color: #02133c;
   text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.general p {
   font-size: 16px;
   font-weight: 400;
   font-style: normal;
   line-height: 24px;
   letter-spacing: 0.15px;
   max-width: 846px;
   color: #4b4b4b;
}

.img_main {
   max-width: 846px;
   margin: 0px 61px -120px 113px;
   border: 1px solid transparent;
}

/* Part 1.2 */
div.boxes {
   background-color: #f5f5f5;
}

div.box_1,
div.box_2 {
   background-color: #ffffff;
   max-width: 324px;
   margin: 0px 0px 24px 184px;
   text-align: center;
   padding: 50px 44px 50px 43px;
}

.logo_box_1 img,
.logo_box_2 img {
   display: block;
   max-width: 63px;
   margin: 0 auto 33px auto;
}

div.box_1 h6,
div.box_2 h6 {
   font-size: 19px;
   font-style: normal;
   font-weight: 900;
   line-height: 26px;
   color: #02133c;
   max-width: 237px;
   margin-bottom: 20px;
}

div.box_1 p,
div.box_2 p {
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px;
   letter-spacing: 0.15px;
   color: #4b4b4b;
}

/* Part 1.3 */
.practice_part_two {
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;
   max-width: 1039px;
   margin: 100px 620px 300px 261px;
   color: black;
}
.shop_terms {
   background-color: white;
}
.practice_part_two h2 {
   font-size: 32px;
   line-height: 48px;
}

.practice_part_two h3 {
   font-size: 24px;
   line-height: 36px;
}

.practice_part_two h6,
.practice_part_two p {
   font-size: 16px;
   line-height: 26px;
}

.practice_part_two p {
   font-weight: 300;
}

/* Part 1.3 */
div.small_box {
   background-color: white;
   margin-top: 100px;
   max-width: 465px;
   font-style: normal;
}

.small_box img {
   margin-bottom: 9px;
}
.small_box h2 {
   font-weight: 500;
   font-size: 44px;
   line-height: 58px;
}

.small_box p {
   max-width: 436px;
   font-weight: 300;
   font-size: 18px;
   line-height: 26px;
}
